
*{
    margin: 0; padding: 0; box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("./assets/fonts/Montserrat-Light.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url("./assets/fonts/Montserrat-Medium.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("./assets/fonts/Montserrat-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Open-Sans-Light";
    src: url("./assets/fonts/OpenSans-VariableFont.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    background: #27403e;
    height: 100%;
}

.head {
    display: flex;
    align-items: center;
    gap: 0.5%;
}
.card {
    background: #27403e;
    border-radius: 50px;
    width: 300px;
    height: 40px;
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid #21A691;
    box-shadow: 0 0 10px 0 #21A691;
}
.card i {
    margin: 8px;
    color: white;
}
.card input {
    width: 100%;
    border: none;
    outline: none;
    background: #27403e;
}

.card input, select, textarea{
    color: white;
}
.card input::placeholder {
    color: white;
    font-family: "Montserrat-Light";
}
.city-display{
    background: #27403e;
    width: 150px;
    height: 40px;
    display: flex;
    border-radius: 50px;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid #21A691;
    box-shadow: 0 0 10px 0 #21A691;
    padding: 10px;
    gap: 15px;
}

.city-display i{
    margin: 8px;
    color: white;
    display: inline;
}
.city-display h3{
    color: white;
    display: inline;
    font-family: "Montserrat-Regular";
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 15px;
}
li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border: 3px #21A691 solid;
    border-radius: 10px;
    list-style: none;
    box-shadow: 0 0 10px 0 #21A691;
}
.temperature-content{
    font-family: Montserrat-Regular;
    color: white;
    margin: 0px 0px 5px 0px;
    font-size: 20px;
}
.date-content{
    margin: 5px 0px 0px 0px;
    font-family: Montserrat-Light;
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 950px) {
    .head{
        justify-content: space-around;
    }
    .card{
        width: 48%;
    }
    .city-display{
        width: 48%;
    }
    .card input::placeholder{
        font-size: 17px;
    }
}
@media screen and (max-width: 600px) {
    .head{
        flex-direction: column;
        gap: 15px;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .card{
        width: 100%;
    }
    .city-display{
        width: 100%;
    }
    .card input {
        width: 300px;

    }
    .card input::placeholder{
        font-size: 15px;
    }
    #forecast-container{
        
        overflow: scroll;
    }
}