:root{
    --outline: #21A691;
    --text:white;
}

.line-break{
    border: 1.75px solid var(--outline);
    border-radius: 30px;
    margin: 2% 0 2% 0;
}

.weather-display{
    width: 100%;
    height:350px;
    margin-bottom: 2%;
    display: flex;
    gap: 1%;
}

.weather-content, .map{
    width: 50%; 
    border-radius: 15px;
}

.weather-content{
    height: 100%;
    border: 3px solid var(--outline);
    box-shadow: 0 0 10px 0 var(--outline);
    color: var(--text);
    padding: 1%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.text-container {
    display: flex;
    height: 60%;
}
.text {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.temperature {
    font-size: 50px;
    font-family: Montserrat-Medium;
}
.weather-current-date {
    font-weight: normal;
    font-family: Montserrat-Light;
    font-size: 25px;    
}
.weather-description{
    font-size: 25px;
    font-family: Montserrat-Light;
}
.text-container img {
    max-width: 200px;
    max-height: 200px;
}
.weather-features {
    display: grid;
    width: 96%;
    height: 25%;
    grid-template-columns: 19.5% 19.5% 19.5% 19.5% 19.5%;
    position: absolute;
    gap: 0.5%;
    bottom: 5%;
}
.featuer {
    width: 100%;
    height: 100%;
    border: 3px solid var(--outline);
    border-radius: 10px;
    padding: 5%;
    font-size: 18px;
    text-wrap: wrap;
    text-wrap-style: balance;
    line-height: 1.8;
}

.featuer p {
    font-family: Montserrat-Regular;
    font-size: 20px;
}
.featuer h5{
    font-weight: normal;
    font-family: Montserrat-Medium;
}
