
*{
    margin: 0; padding: 0; box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("./assets/fonts/Montserrat-Light.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url("./assets/fonts/Montserrat-Medium.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("./assets/fonts/Montserrat-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    background: #27403e;
    height: 100%;
}

.head {
    display: flex;
    align-items: center;
    gap: 0.5%;
}
.card {
    background: #27403e;
    border-radius: 50px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid #21A691;
    box-shadow: 0 0 10px 0 #21A691;
}
.search{
    display: flex;
    gap: 15px;
}
.search i {
    margin: 8px;
    color: white;
}
.search input {
    width: 230px;
    border: none;
    outline: none;
    background: #27403e;
}

.search input, select, textarea{
    color: white;
}
.search input::placeholder {
    color: white;
}
.city-display{
    background: #27403e;
    width: 150px;
    height: 40px;
    display: flex;
    border-radius: 50px;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid #21A691;
    box-shadow: 0 0 10px 0 #21A691;
}
.city-display i{
    margin: 8px;
    color: white;
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 5px;
}
li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border: 3px #21A691 solid;
    border-radius: 10px;
    list-style: none;
    box-shadow: 0 0 10px 0 #21A691;
}
.temperature-content{
    font-family: Montserrat-Regular;
    color: white;
    margin: 0px 0px 5px 0px;
    font-size: 20px;
}
.date-content{
    margin: 5px 0px 0px 0px;
    font-family: Montserrat-Light;
    color: white;
    font-size: 20px;
}